body {
    background-color: #0f0e0f49;
    box-sizing: border-box;
}

header {
    padding: 25px;
    margin:25px;
    margin-bottom: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0c0c0cf6;
    color: #6bd1eb;
}

header nav {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav a {
    text-decoration: underline;
    padding: 10px;
    color: #6bd1eb;
    margin-bottom: 10px;
}

main {
    margin:25px;
    margin-top:0px;
}

.subtitle {  
    height: 200px;
    margin-bottom: 25px;
    background-image: url("../images/subtitle-image.jpg");
    background-size: cover;
    background-position: center;
}

.card1 {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    height:50%;
    padding-top: 25px;
}

.card2 {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    height:30%;
}

.card1 img {
    height:100%;
}

.aboutMe {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    margin: 10px;
}

.titleSection {
    font-size: 20px;
    border-right: 3px solid rgb(59, 59, 75);
    padding-right: 10px;
    text-align: right;
    width: 20%;
    height:100%;
    margin:0%;
}

.titleSection > h2, .titleSection > h3, .titleSection > h5 {
    font-size: 35px;
    margin:0%;
}

.aboutMeContent {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    padding-left: 50px;
    width: 70%;
    font-family:'Times New Roman', Times, serif;
    height:100%;
    padding-left: 50px;
    padding-right: 50px;
}

.contactMe {
    display:flex;
    flex-wrap: wrap;
    height: 100px;
    margin:10px;
    flex-direction: column;
}

.contactInfo {
    margin-left: 10px;
    width: 70%;
    text-decoration: underline;
    padding: 10px; 
    height:100%;   
}

.contactInfo nav ul {
    display:flex; 
    justify-content: space-around;
}

.contactInfo nav li {
    list-style-type: none;
    font-size: 25px;
     padding: 10px; 
}

.work {
    display:flex;
    flex-wrap:wrap; 
    height: 500px;
    margin:10px;
}
.titleSectionInfo {
    width: 70%;    
    height:100%;
    padding-left: 50px;
}
/*
.cardOne{   
    border-style: solid;
    border-color: #18b3b3f6;
    border-width: 5px;
    height : 50%;
    margin-bottom: 10px;
}

.cardOne h4{
    background-color: #18b3b3f6;
    font-size: 25px;
    text-align: center;
    width:100%;
    height:20%;
    margin:0%;
}

.cardOne img{
    width: 100%;
    height:80%;
}*/

.cardTwoOne, .cardOneOne{
    width: 50%;
    height: 100%;
    margin-right: 5px;
    border-color: #18b3b3f6;
    border-width: 5px;
    border-style: solid;
}

.cardTwoTwo,.cardOneTwo {
    width: 50%;
    height: 100%;
    margin-left: 5px;
    border-color: #18b3b3f6;
    border-width: 5px;
    border-style: solid;
}

.cardTwoOne h4, .cardTwoTwo h4,.cardOneOne h4, .cardOneTwo h4 {
    width:100%;
    height:20%;
    margin:0%;
    background-color: #18b3b3f6;
    text-align: center;
    font-size: 25px;
}

.cardTwoOne a, .cardTwoTwo a,.cardOneOne a, .cardOneTwo a {
    color: #0f0f0fd7;
}

.cardTwoOne img, .cardTwoTwo img,.cardOneOne img, .cardOneTwo img {
    width: 100%;
    height: 80%;
}

.cardTwo,.cardOne{
    display: flex;
    height:45%;
}
  
/* .cardTwo > div {
    border-style: solid;
    border-width: 3px;
} */
